In [1]:
import pandas as pd
df = pd.read_csv("../raw_data/merged_country_level/final_merged_dataset_with_knn.csv")
df.describe()

,average_monthly_cost_$,average_yearly_temperature,internet_speed_mbps,safety_index,Healthcare Index
count,155.000000,155.000000,155.000000,155.000000,155.000000
mean,1085.577345,21.208172,99.077806,53.684301,58.613742
std,848.482198,6.874961,78.998202,15.264927,13.547936
min,227.355000,1.200000,3.230000,19.300000,23.860000
25%,579.861406,15.050000,38.450000,41.966667,48.550000
50%,807.235000,22.800000,81.780000,53.000000,59.380000
75%,1327.921731,27.000000,147.250000,66.050000,68.550000
max,6790.835000,32.100000,345.330000,84.700000,86.500000

In [ ]:
#calculate median values